accelerate @ file:///home/conda/feedstock_root/build_artifacts/accelerate_1701450794894/work
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1698945915105/work
aiohttp @ file:///C:/b/abs_bc6tmjiy12/croot/aiohttp_1701112585940/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1701735522225/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
Brotli @ file:///D:/bld/brotli-split_1648883782420/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///D:/bld/click_1692312014553/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets==2.16.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1696154234947/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1702349293753/work
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
frozenlist @ file:///C:/b/abs_d8e__s1ys3/croot/frozenlist_1698702612014/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1702335961905/work
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1696431173603/work
gradio_client @ file:///home/conda/feedstock_root/build_artifacts/gradio-client_1703282736315/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1699629103338/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1703084696194/work
huggingface-hub==0.20.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1703269254275/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1699364556997/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1700159890288/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1701365715051/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1651923627081/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1677100944732/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
matplotlib @ file:///D:/bld/matplotlib-suite_1636786730976/work
mdit-py-plugins @ file:///C:/Windows/TEMP/abs_a68gexmyju/croots/recipe/mdit-py-plugins_1659721253488/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mkl-service==2.4.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict @ file:///C:/b/abs_44ido987fv/croot/multidict_1701097803486/work
multiprocess @ file:///D:/bld/multiprocess_1653595778189/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy @ file:///D:/bld/numpy_1653325554875/work
orjson @ file:///D:/bld/orjson_1698619229547/work/target/wheels/orjson-3.9.10-cp310-none-win_amd64.whl#sha256=f32f904a0149ecba444fc85672f6a943d4f56e44ee2dccbcb46ce1ba4568ff2b
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///C:/b/abs_b9kefbuby2/croot/pandas_1677835593760/work
Pillow @ file:///C:/b/abs_153xikw91n/croot/pillow_1695134603563/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pyarrow==11.0.0
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///C:/b/abs_9byjrk31gl/croot/pydantic_1695798904828/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1615612442567/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML @ file:///D:/bld/pyyaml_1648757288117/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1701974441252/work
regex @ file:///C:/b/abs_d5e2e5uqmr/croot/regex_1696515472506/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
sacremoses==0.0.43
safetensors @ file:///C:/Miniconda/envs/test/conda-bld/safetensors_1696589573174/work/bindings/python
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1653579368137/work
sentencepiece @ file:///C:/b/abs_f7cttiucvr/croot/sentencepiece_1684525347071/work/python
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tokenizers @ file:///C:/b/abs_f5dw_02o_w/croot/tokenizers_1696540928010/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch @ file:///C:/b/abs_2112s1s0to/croot/pytorch-select_1700158736573/work
tornado @ file:///D:/bld/tornado_1656937966227/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1689730109002/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1608058642472/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
uvicorn @ file:///D:/bld/uvicorn-split_1703357336631/work
websockets @ file:///C:/b/abs_4b8uy0tips/croot/websockets_1678966801749/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
xxhash @ file:///C:/b/abs_e59ry5bslh/croot/python-xxhash_1667919514787/work
yarl @ file:///D:/bld/yarl_1648966692031/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
